.home {
  h2 {
    color: #ffaa55;
    margin: 9rem 0 2rem 0;
  }
  &__introduction {
    width: 100%;
    margin: 1px;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    font-size: 3em;
    border-radius: 8px;
    background-color: rgba(28,36,45,0.5);
    &__logo {
      width: 5%!important;
      margin: auto 0;
      filter: drop-shadow(0 0 0.55rem #e39200);
    }
    img {
      width: 6%;
    }
    h1 {
      text-align: center;
      font-size: 1.3em;
      padding: 0 2rem;
      margin: auto 0;
    }
    p {
      color: white;
      text-align: center;
      font-size: 1.5em;
    }
    &__content {
      margin-top: 6rem;
      text-align: center;
      color: white;
      font-size: 2rem;
      &__important {
        color: #ffaa55;
      }
    }  
  }
  &__news {
    margin: auto 10rem;
    text-align: center;
    display: block;
    
    img {
      width: 35%;
      margin: 1.2rem;
      border-radius: 10px;
      transition: .3s;
      border: 2px solid transparent;
      transition:all .2s ease-in-out;
      -webkit-box-shadow: 0 28px 16px -26px black;
      -moz-box-shadow: 0 28px 16px -26px black;
      box-shadow: 0 28px 16px -26px black;
      transition:all .6s ease-in-out;
      -webkit-transition:all .6s ease-in-out;
      -moz-transition:all .6s ease-in-out;
      -ms-transition:all .6s ease-in-out;
      -o-transition:all .6s ease-in-out;
      &:hover {
         transform:scale(1.03);
         transition: .1s;
        -webkit-transform:scale(1.03);
        -moz-transform:scale(1.03);
        -ms-transform:scale(1.03);
        -o-transform:scale(1.03);
        -webkit-box-shadow: 0 58px 40px -56px black;
        -moz-box-shadow: 0 58px 36px -56px black;
        box-shadow: 0 58px 36px -56px black;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        border-color: #80afd1;
      }
    }
  }
}

@media (max-width: 1750px) {
  .home {
    &__news {
      img {
        width: 40%;
      }
    }
  }
}

@media (max-width: 1355px) {
  .home {
    &__news {
      margin: auto 0;
      img {
        width: 40%;
      }
    }
  }
}

@media (max-width: 1215px) {
  .home {
    h1 {
     font-size: 1em;
    }
    
  }
}

@media (max-width: 1000px) {
  .home__introduction {
    font-size: 2.5em;
    padding: 82px 0 5px 0;
    margin: 0;
    &__logo {
      display: none;
    }
    &__content {
      font-size: 1.5em;
    }
  }
  
}

@media (max-width: 923px) {
  .home {
    h2 {
      margin: 6rem 0 0rem 0;
      font-size: 3em;
    }
    &__news {
      margin: auto 0;
      img {
        width: 45%;
      }
    }
    &__introduction {
      &__logo {
        width: 8%!important;
        // margin: 0 .5rem;
      }
    }
  }
}

@media (max-width: 733px) {
  .home {
    h2 {
      font-size: 3em;
    }
    &__news {
      margin: auto 0;
      img {
        width: 58%;
      }
    }
  }
}

@media (max-width: 733px) {
  .home {
    &__introduction {
      &__logo {
        width: 10%!important;
        // margin: 0 .5rem;
      }
    }
    h2 {
      font-size: 3em;
    }
    &__news {
      margin: auto 0;
      img {
        width: 65%;
      }
    }
  }
}

@media (max-width: 600px) {
  .home {
    p {
      font-size: 0.7em;
    }
    h1 {
      font-size: 0.8em;
    }
    &__introduction {
      &__logo {
        width: 12%!important;
        // margin: 0 .5rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .home {
    p {
      font-size: .7em;
    }
    h1 {
      font-size: 0.6em;
    }
    h2 {
      margin: 4rem 0 0rem 0;
      font-size: 2em;
    }
    &__introduction {
      &__logo {
        width: 14%!important;
      }
    }
    &__news {
      margin: auto 0;
      img {
        width: 80%;
      }
    }
  }
}
