.trollpick {
  text-align: center;
  padding: 0 10rem 4rem 10rem;
  color: white;
  .definition {
    text-decoration: underline;
  }
  .introTrollpickYoutube {
    margin: 2rem .5rem 2.5rem .5rem;
    border-bottom: 1px red solid;
  }
  h2 {
    color: #ffaa55;
  }
  &__intro {
    font-size: 1.8em;
  }
  .test {
    &:hover{
      color: #ffaa55;
    }
  }
  .icons {
    &__rune, &__gameplay, &__crossbones {
      margin: 0 1rem;
      font-size: 0.8em;
    }
  }
  &__pictures {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    img {
      width: 25%;
      border-radius: 35%;
    }
    &__xin{
      filter: drop-shadow(0 0 0.75rem #fbfc40);
    }
    &__thresh{
      filter: drop-shadow(0 0 0.75rem #40fbae);
    }
    &__caitlyn {
      filter: drop-shadow(0 0 0.75rem #e40b19);
    }
    &__kaïsa {
      filter: drop-shadow(0 0 0.75rem #aa58db);
    }
    &__lucian {
      filter: drop-shadow(0 0 0.75rem #de6d55);
    }
    &__zed {
      filter: drop-shadow(0 0 0.75rem #b94220);
    }
    &__tartiSett {
      filter: drop-shadow(0 0 0.75rem #fa2d76);
    }

    &__rune {
      margin: 2rem;
      border-radius: 10px;
      width: 80%;
      border: 2px solid transparent;
      transition:all .2s ease-in-out;
      -webkit-box-shadow: 0 28px 16px -26px black;
      -moz-box-shadow: 0 28px 16px -26px black;
      box-shadow: 0 28px 16px -26px black;
      transition:all .6s ease-in-out;
      -webkit-transition:all .6s ease-in-out;
      -moz-transition:all .6s ease-in-out;
      -ms-transition:all .6s ease-in-out;
      -o-transition:all .6s ease-in-out;
      &:hover {
        transform:scale(1.03);
        transition: .1s;
       -webkit-transform:scale(1.03);
       -moz-transform:scale(1.03);
       -ms-transform:scale(1.03);
       -o-transform:scale(1.03);
       -webkit-box-shadow: 0 58px 40px -56px black;
       -moz-box-shadow: 0 58px 36px -56px black;
       box-shadow: 0 58px 36px -56px black;
       -webkit-transition: .3s ease-in-out;
       -moz-transition: .3s ease-in-out;
       -ms-transition: .3s ease-in-out;
       -o-transition: .3s ease-in-out;
       border-color: #ffaa55;
      }
    }
    &__end {
      width: 20%;
      border-radius: 15px;
      margin: 2rem 0 3rem 0;
      &__xin {
        filter: drop-shadow(0 0 0.75rem #642b21);
      }
      &__thresh {
        width: 25%;
        border-radius: 50%;
        filter: drop-shadow(0 0 0.75rem #40fbae);
      }
      &__caitlyn {
        border-radius: 15px;
        filter: drop-shadow(0 0 0.75rem #e40b19);
        width: 30%;
      }
      &__kaïsa, &__lucian {
        filter: drop-shadow(0 0 0.75rem #aa58db);
        width: 25%;
      }
      &__zed {
        filter: drop-shadow(0 0 0.75rem #b94220);
        width: 30%;
      }
      &__tartiSett {
        filter: drop-shadow(0 0 0.75rem #40fbae);
      }
    }
    &__trollContent {
      width: 35%;
      border-radius: 15px;
      margin: 2rem 0 3rem 0;
      filter: drop-shadow(0 0 0.75rem #642b21);
    }
    &__capture {
      margin: 2rem 0 3rem 0;
      border-radius: 10px;
      width: 40%;
      filter: drop-shadow(0 0 0.75rem #40fbae);
      &__tartiSett {
        width: 20%;
      }
    }
    &__troll {
      width: 40%;
      border-radius: 15px;
      margin: 2rem 0 3rem 0;
      filter: drop-shadow(0 0 0.75rem #40fbae);
    }
    &__trollWeakness {
      margin: 2rem 0 3rem 0;
      border-radius: 15px;
      &__tartiSett {
        filter: drop-shadow(0 0 0.75rem #fff);
        width: 20%;
      }
      &__caitlyn {
        filter: drop-shadow(0 0 0.75rem #e40b19);
        width: 15%;
      }
      &__thresh {
        width: 40%;
        filter: drop-shadow(0 0 0.75rem #40fbae);
      }
      &__kaïsa , &__lucian {
        filter: drop-shadow(0 0 0.75rem #aa58db);
      }
      &__zed {
        filter: drop-shadow(0 0 0.75rem #b94220);
        width: 30%;
      }
    }
  }
  &__runes {
    &__list {
      ul {
        border: 2px solid #ffaa55;
        margin: 2rem 5rem 2rem 5rem;
        border-radius: 10px;
        padding: 3rem;
        li {
          text-align: left;
          padding: 1rem;
          display: grid;
          flex-grow: 1;
        }
      }
      &__content {
        display: flex;
        justify-content: left;
        img {
          text-align: center;
          margin: auto;
          display: block;
          border-radius: 50%;
        }
      }
      &__border {
        border-bottom: #ffaa55 1px solid;
      }
    }
  }
  &__gameplay {
    &__content {
      border: #ffaa55 solid 2px;
      border-radius: 15px;
      padding: 2rem;
      margin: 2rem 0 2rem 0;
      &__border {
        border-top: #ffaa55 1px solid;
        padding: 2rem;
      }
    }
  }
}

@media (max-width: 1458px) {
  .trollpick {
    .paragraph {
      font-size: 1.4em;
    }
    padding: 0 5rem 4rem 5rem;
    ul {
      margin: 2rem 0;
      padding: 2rem;
    }
  }
}

@media (max-width: 1025px) {
  .trollpick {
    padding: 0 0 1rem 0;
    &__pictures {
      &__rune {
        width: 95%;
        margin: .5rem;
      }
    }
    h1 {
      padding-top: 3rem!important;
    }
    h2 {
      padding-top: 0;
      margin: 0 0 3rem 0;
    }
    .backgroundParagraphe {
      margin: 3rem 1rem;
    }
    .paragraph {
      font-size: 1.3em;
    }
  }
}

@media (max-width: 852px) {
  .trollpick {
    .paragraph {
      font-size: 1.3em;
    }
    .backgroundParagraphe {
      padding: 3rem .5rem;
    }
  }
}

@media (max-width: 650px) {
  .trollpick {
    h2 {
      font-size: 3em;
      margin: 0 0 3rem 0;
    }
    &__pictures {
      
      &__end {
        margin: 0.5rem 0 1rem 0;
        width: 25%;
      }
    }
    .paragraph {
      font-size: 1.2em;
    }
    .backgroundParagraphe {
      padding: 3rem .5rem;
      margin: 2rem .5rem;
    }
    &__gameplay__content {
      padding: .5rem;
    }
  }
}

@media (max-width: 400px) {
  .trollpick {
    h2 {
      font-size: 2.4em;
    }
  }
}


