.containerSlide {
  width: 100%;
  // box-shadow: 1px 1px 12px black;
  &__each-slide {
    &__image {
      position: relative;
      max-width: 100%;
      height: auto;
      &__content {
        line-height: 3em;
        text-transform: uppercase;
        h2 {
          font-size: 2.7em;
          margin: 0;
          color: white;
        }
        p {
          font-size: 1.7em;
        }
        button {
          border: none;
          border-radius: 5px;
          padding: .5rem .5rem;
          font-size: 1.5em;
          margin-top: .5rem;
        }
        &__youtube {
          position: absolute;
          color: cornsilk;
          left: calc(29.2% - 125px);
          top: calc(40% - 30px);
          z-index: 2;
          text-align: center;
          button {
            color: red;
            border: red solid 1px;
            background-color: transparent;
            &:hover{
              color: white;
              background-color: red;
            }
          }

        }
        &__twitch {
          position: absolute;
          color: cornsilk;
          left: calc(50% - 125px);
          top: calc(40% - 30px);
          z-index: 2;
          text-align: center;
          button {
            color: #6340a4;
            border: #6340a4 solid 1px;
            background-color: transparent;
            &:hover{
              color: white;
              background-color: #6340a4;
            }
          }
        }
        &__coaching {
          position: absolute;
          color: cornsilk;
          left: calc(67.2% - 135px);
          top: calc(40% - 30px);
          z-index: 2;
          font-size: 1.1em;
          text-align: center;
          button {
            color: #7289da;
            border: #7289da solid 1px;
            background-color: transparent;
            &:hover{
              color: white;
              background-color: #7289da;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .containerSlide {
    h2 {
      font-size: 1.8em!important;
    }
    p {
      font-size: 1em!important;
    }
    button {
      font-size: 1.2em;
    }
    &__each-slide {
      &__image {
        &__content {
          &__coaching {
            top: calc(30% - 30px);
            left: calc(68% - 135px);
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .containerSlide {
    h2 {
      font-size: 1.4em;
    }
    &__each-slide {
      &__image {
        height: 155px;
        &__content {
          &__coaching {
            left: calc(67.4% - 135px);
            p {
              font-size: 1em!important;
            }
          }
        }
      }
    }
  }
}
