.news {
  // padding: 0 5rem;
  p {
    text-align: center;
  }

  &__cards {
    display: flex;
    margin: 2rem;
    text-align: center;
    &__ligne {

    }
    &__card {
      display: inline-block;
      width: 550px;
      margin: 3rem;
      color: white;
      // background-color: #655c54;
      background-color: rgba(28,36,45,0.8);;
      border-radius: 10px;
      padding: 1rem;
      border: 2px solid transparent;
      transition:all .2s ease-in-out;
      -webkit-box-shadow: 0 28px 16px -26px black;
      -moz-box-shadow: 0 28px 16px -26px black;
      box-shadow: 0 28px 16px -26px black;
      transition:all .6s ease-in-out;
      -webkit-transition:all .6s ease-in-out;
      -moz-transition:all .6s ease-in-out;
      -ms-transition:all .6s ease-in-out;
      -o-transition:all .6s ease-in-out;
      &:hover {
        transform:scale(1.03);
        transition: .1s;
       -webkit-transform:scale(1.03);
       -moz-transform:scale(1.03);
       -ms-transform:scale(1.03);
       -o-transform:scale(1.03);
       -webkit-box-shadow: 0 58px 40px -56px black;
       -moz-box-shadow: 0 58px 36px -56px black;
       box-shadow: 0 58px 36px -56px black;
       -webkit-transition: .3s ease-in-out;
       -moz-transition: .3s ease-in-out;
       -ms-transition: .3s ease-in-out;
       -o-transition: .3s ease-in-out;
       border-color: #021320;
     }
      &__title {
        font-size: 2.2em;
        margin: 1rem 0rem;
        text-align: center;
      }
      img {
        width: 100%;
        padding: .7rem 0 .7rem 0;
      }
      &__content {
        font-size: 1.5em;
        line-height: 1.2em;
        margin: 1rem 0;
      }
    }
    &__first {
      &__janna {
        color: #ec4e5b;
      }
    }
  }
}

@media (max-width: 1516px) {
  .news {

    &__cards {
      &__card {
        width: 450px;
      }
    }
  }
}

@media (max-width: 1209px) {
  .news {
    h2 {
      font-size: 2em;
    }
    &__cards {
      margin: 2rem 0;
      &__card {
        width: 400px;
        &__content {
          font-size: 1.1em;
        }
      }
    }
  }
}

@media (max-width: 1009px) {
  .news {
    h1 {
      padding-top: 110px;
    }
    &__cards {
      &__card {
        width: 350px;
      }
    }
  }
}

@media (max-width: 895px) {
  .news {
    &__cards {
      &__card {
        width: 450px;
        margin: 2rem;
      }
    }
  }
}

@media (max-width: 579px) {
  .news {
    &__cards {
      margin: 2rem .5rem;
      &__card {
        margin: 1rem;
        width: 370px;
        padding: 0 1rem;
      }
    }
  }
}

@media (max-width: 459px) {
  .news {
    &__cards {
      &__card {
        margin: .5rem 0;
        padding: 0 .5rem;
        width: 370px;
      }
    }
  }
}

@media (max-width: 380px) {
  .news {
    h1 {
      font-size: 3.5em;
    }
    h3 {
      font-size: 1.5em;
    }
    &__cards {
      &__card {
        padding: 0 .5rem;
        width: 330px;
      }
    }
  }
}

@media (max-width: 320px) {
  .news {
    &__cards {
      &__card {
        margin: .5rem;
        width: 250px;
      }
    }
  }
}
