.resetPassword {
  text-align: center;
  font-size: .9em;
  &__content {
    width: 50%;
    margin: auto;
    padding: 4rem;
    &__button {
      border-radius: 5px;
      padding: .3rem .8rem;
      margin: 1rem;
    }
  }
}