.guide {

  color: white;
  span {
    color: red;
  }
  &__end {
    color: #ffaa55;
    margin-top: 3rem;
  }
  p {
    line-height: 1.2em;
    font-size: 2em;
  }
  li {
    line-height: 1.2em;
    font-size: 2em;
    margin: 1rem 3rem;
  }
  .positif {
    color: yellowgreen;
    padding-right: .5rem;
  }
  .twitch {
    color: rgb(130, 50, 205);
  }
  .logo {
    width: 40%;
    margin: auto;
    text-align: center;
    display: block;
  }
  .gg {
    color: #ffaa55;
  }
  &__youtube {
    border-radius: 50px;
    margin: auto;

  }
  h3 {
    font-family: 'Squada One', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5em;
    padding-top: 7rem;
    padding-bottom: 2rem;

    text-shadow: 2px 2px  30px black;
  }
  .mental {
    color: #00cefe;
  }

  .rage {
    color: crimson;
  }
  &__breadcrumb {
    color: white;
    margin: 2rem 3rem;
    text-align: left;
  }
  &__mental {
    background-color: rgba(28,36,45,0.8);
    margin: 0 10rem 4rem 10rem;
    padding-bottom: 3rem;
    border-radius: 10px;
    text-align: center;
    &__content {
      font-size: 2em;
      margin: 1rem 3rem;
      line-height: 1.2em;
      &__introYoutube {
        font-size: 2em;
        margin: 3rem;
        line-height: 1.2em;
      }
      &__afterYoutube {
        margin-top: 3rem;
      }
    }
    &__cerveau {
      border-radius: 50%;
      margin: 2rem auto;
      width: 35%;
      filter: drop-shadow(0 0 0.75rem #00cefe);
    }
    &__picture {
      width: 35%;
      border-radius: 25px;
      margin: 1rem;
      filter: drop-shadow(0 0 0.75rem crimson);
    }
  }
  &__rage {
    background-color: rgba(28,36,45,0.8);
    margin: 0 10rem 4rem 10rem;
    padding-bottom: 3rem;
    border-radius: 10px;
    text-align: center;
    &__content {
      text-align: center;
      // margin: auto 4rem;
      margin: 3rem 3rem;
      &__rage {
        border-radius: 50%;
        filter: drop-shadow(0 0 0.75rem crimson);
        margin: 1rem;
      }
      &__textRage {
        border-radius: 15px;
        filter: drop-shadow(0 0 0.75rem #232122);
      }
      &__troll {
        width: 30%;
        border-radius: 50px;
        filter: drop-shadow(0 0 0.50rem rgb(220, 207, 20));
      }
    }
  }
  &__content {
    text-align: center;
    // margin: auto 4rem;
    margin: 1rem 3rem;
  }
  &__intro1 {
    margin-bottom: 3rem;
    font-size: 2.5em;
  }

}
