.guides {

  h3 {
    font-size: 2.5em;
    color: #ffaa55;
    margin: 1rem;
  }
  img {
    width: 100%;
    border-radius: 15px;
  }
  &__intro {
    color: white;
    text-align: center;
    font-size: 3em;
  }
  &__cards {
    text-align: center;
    &__card {
      width: 550px;
      margin: 3rem 2rem;
      display: inline-block;
      text-align: center;
      color: white;
      background-color: rgba(28,36,45,0.8);;
      border-radius: 10px;
      padding: 1rem;
      border: 2px solid transparent;
      transition:all .2s ease-in-out;
      -webkit-box-shadow: 0 28px 16px -26px black;
      -moz-box-shadow: 0 28px 16px -26px black;
      box-shadow: 0 28px 16px -26px black;
      transition:all .6s ease-in-out;
      -webkit-transition:all .6s ease-in-out;
      -moz-transition:all .6s ease-in-out;
      -ms-transition:all .6s ease-in-out;
      -o-transition:all .6s ease-in-out;
      &:hover {
        transform:scale(1.03);
        transition: .1s;
       -webkit-transform:scale(1.03);
       -moz-transform:scale(1.03);
       -ms-transform:scale(1.03);
       -o-transform:scale(1.03);
       -webkit-box-shadow: 0 58px 40px -56px black;
       -moz-box-shadow: 0 58px 36px -56px black;
       box-shadow: 0 58px 36px -56px black;
       -webkit-transition: .3s ease-in-out;
       -moz-transition: .3s ease-in-out;
       -ms-transition: .3s ease-in-out;
       -o-transition: .3s ease-in-out;
       border-color: #021320;
      }
    }
  }
}

@media (max-width: 1000px) {
  .guides {
    padding: 1rem;
    h3 {
      font-size: 2.2em;
    }
    &__intro {
      font-size: 2em;
      margin-bottom: 2rem;
    }
    &__cards {
      &__card {
        margin: 1.5rem;
        padding: .5rem
      }
    }
  }
}

@media (max-width: 637px) {
  .guides {
    &__cards {
      &__card {
        width: 500px;
        margin: 2rem .5rem;
      }
    }
  }
}

@media (max-width: 537px) {
  .guides {
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 1.5em;
    }
    h3 {
      font-size: 2em;
    }
    &__cards {
      &__card {
        width: 410px;
        margin: 2rem .5rem;
      }
    }
  }
}

@media (max-width: 458px) {
  .guides {
    &__cards {
      &__card {
        padding: 0rem;
        margin: .9rem 0;
        width: auto;
      }
    }
  }
}

@media (max-width: 372px) {
  .guides {
    h3 {
      font-size: 1.7em;
    }
  }
}


