@import 'reset';
@import 'vars';

// image

body {
  //font-family: 'Gotu', sans-serif;
  // font-family: 'Righteous', cursive;
  font-family: 'Bebas Neue', cursive;
}

main {
  min-height: calc(100vh - 160px);
}

// background
.app--home {
  background-image:linear-gradient(rgba(23, 48, 66, 0.6), rgba(3, 23, 32, 0.6)), url("https://cdn.discordapp.com/attachments/554341007144124416/710470768802136134/faille_de_linvocateur.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.app--presentation {
  background-image:linear-gradient(rgba(23, 48, 66, 0.2), rgba(3, 23, 32, 0.2)), url("https://cdn.discordapp.com/attachments/554341007144124416/711288671508365352/bar_entre.png");
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.app--news {
  background-image:linear-gradient(rgba(23, 48, 66, 0.5), rgba(3, 23, 32, 0.5)), url(../assets/images/backgroundPages/backgroundDemacia.jpg);
 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.app--tutoriels {
  background-image:linear-gradient(rgba(23, 48, 66, 0.5), rgba(3, 23, 32, 0.5)), url(../assets/images/backgroundPages/backgroundMont_targon.jpg);
 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 100vh;
}

.app--jungle {
  background-image:linear-gradient(rgba(23, 48, 66, 0.7), rgba(3, 23, 32, 0.7)), url(../assets/images/backgroundPages/backgroundJungle.jpg);
 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 100vh;
}

.app--supportPage {
  background-image:linear-gradient(rgba(23, 48, 66, 0.6), rgba(3, 23, 32, 0.6)), url(../assets/images/backgroundPages/me-soutenir.jpg);
 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 100vh;
}

.app--contact {
  background-image:linear-gradient(rgba(23, 48, 66, 0.4), rgba(3, 23, 32, 0.4)), url(../assets/images/backgroundPages/taverneNight.png);
 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 100vh;
}

.globalTitle-page {
  font-family: 'Squada One', cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 5em;
  padding: 3rem;
  color: #ffaa55;
  text-shadow: 2px 2px  30px black;
}
