.tutoriels {  
  &__intro {
    text-align: center;
    font-size: 2.1em;
    padding: 3rem;
    color: white;
    text-align: center;
    margin: auto;
  }
  &__picture {
    width: 40%;
    margin: auto;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    &__line {
      display: inline-block;
      // justify-content: space-evenly;
      margin: auto 10rem;
      text-align: center;
    }
    a {
      display: inline-block;
    }
    &__card {
      width: 400px;
      height: 210px;
      margin: 4rem 1.5rem;
      color: white;
      display: flex;
      background-color: rgba(28,36,45,0.8);
      border-radius: 10px;
      padding: 1rem;
      &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2.1em;
        margin: 1rem 0rem;
        text-align: center;
      }
    }
    &__cardActif {
      border: 2px solid transparent;
      transition:all .2s ease-in-out;
      -webkit-box-shadow: 0 28px 16px -26px black;
      -moz-box-shadow: 0 28px 16px -26px black;
      box-shadow: 0 28px 16px -26px black;
      transition:all .6s ease-in-out;
      -webkit-transition:all .6s ease-in-out;
      -moz-transition:all .6s ease-in-out;
      -ms-transition:all .6s ease-in-out;
      -o-transition:all .6s ease-in-out;
      &:hover {
        transform:scale(1.03);
        transition: .1s;
       -webkit-transform:scale(1.03);
       -moz-transform:scale(1.03);
       -ms-transform:scale(1.03);
       -o-transform:scale(1.03);
       -webkit-box-shadow: 0 58px 40px -56px black;
       -moz-box-shadow: 0 58px 36px -56px black;
       box-shadow: 0 58px 36px -56px black;
       -webkit-transition: .3s ease-in-out;
       -moz-transition: .3s ease-in-out;
       -ms-transition: .3s ease-in-out;
       -o-transition: .3s ease-in-out;
       border-color: #021320;
     }
    }
    &__cardSoon {
      position: relative;
      z-index: 1;
        &__content {
          position: absolute;
          font-size: 2.5em;
          text-align: center;
          width: 370px;
          height: 180px;
          color: #ffaa55!important;
          background-color: rgba(28,36,45,0.8);
          padding: 4.4rem 2.5rem;
          border-radius: 15px;
          opacity: 0;
          &:hover {
            opacity: 1;
            z-index: 1;
            transition:all .1s;
            -webkit-transition: .3s ease-in-out;
            -moz-transition: .3s ease-in-out;
            -ms-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
          }
        }
      &:hover {
        opacity: 0.6;
        transition:all .1s;
        z-index: 0;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
      }
    }
  }
}

@media (max-width: 1650px) {
  .tutoriels__cards__line {
    margin: auto 2rem;
  }
}

@media (max-width: 1340px) {
  .tutoriels {
    &__cards {
      &__card {
      width: 390px;
      height: auto;
      padding: 2rem 1rem;
      }
      &__cardSoon__content {
        width: 280px;
        height: auto;
        font-size: 1.9em;
        padding: 2.2rem 1.5rem;
      }
    }
  }
}

@media (max-width: 1000px) {
  .tutoriels {
    &__cards__card{
        margin: 1rem;
    }
  }
}

@media (max-width: 804px) {
  .tutoriels {
    &__picture {
      width: 32%;
    }
    &__intro {
      font-size: 1.8em;
    }
    &__cards{
      // &__line {
      //   display: inline;
      // }
      &__card {
        width: auto;
        &__title {
          font-size: 1.8em;
        }
      }
      &__cardSoon__content {
        width: 300px;
        height: auto;
        font-size: 1.9em;
        padding: 2rem 1.5rem;
      }
    }
  }
}

@media (max-width: 607px) {
  .tutoriels {
    a {
      display: inline-flex;
      width: auto;
    }
    &__intro {
      margin: 0;
      padding: 2rem 0;
      font-size: 1.5em;
    }
    &__picture {
      width: 30%;
    }
    &__cards {
      &__line {
        margin: .5rem;
      }
      &__card {
        width: 310px;
        &__title {
          font-size: 1.6em;
        }
      }
      &__cardSoon__content {
        width: 280px;
        height: auto;
        font-size: 1.7em;
        padding: 2rem 1.5rem;
      }
    }
  }
}

@media (max-width: 350px) {
  .tutoriels {
    &__intro {
      font-size: 1.4em;
    }
    &__cards {
      &__card {
      width: auto;
      }
      &__cardSoon__content {
        width: 250px;
        height: auto;
        font-size: 1.9em;
        padding: 2rem 1rem;
      }
    }
  }
}
