.publi {
  color: white;
  margin: auto;
  font-weight: bold;
  font-size: .8em;
  .discordTitle {
    width: 90%;
  }
  &__banner {
    width: 65%;
    margin: 3rem auto;
    height: 260px;
    padding: 0 5rem 0 5rem ;
    display: flex;
    justify-content: space-between;
    font-size: 3em;
    border-radius: 8px;
    background-color: rgba(28,36,45,0.5);
    transition:all .2s ease-in-out;
    -moz-box-shadow: 0 28px 16px -26px black;
    transition:all .6s ease-in-out;
    -webkit-transition:all .6s ease-in-out;
    -moz-transition:all .6s ease-in-out;
    -ms-transition:all .6s ease-in-out;
    -o-transition:all .6s ease-in-out;
    &__left {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      line-height: 1.5em;
      width: 50%;
      margin: auto;
    }
    &__right {
      display: flex;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      display: -webkit-box;
      display: -ms-flexbox;
      flex-direction: column;
      text-align: center;
      width: 30%;
      margin: auto;
      img {
        width: 40%;
        margin: auto;
      }
      &__picture {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    }
    &:hover {
      transform:scale(1.03);
      transition: .1s;
     -webkit-transform:scale(1.03);
     -moz-transform:scale(1.03);
     -ms-transform:scale(1.03);
     -o-transform:scale(1.03);
 
     -webkit-box-shadow: 0 58px 40px -56px black;
     -moz-box-shadow: 0 58px 36px -56px black;
     box-shadow: 0 58px 36px -56px black;
     -webkit-transition:all .3s ease-in-out;
     -moz-transition:all .3s ease-in-out;
     -ms-transition:all .3s ease-in-out;
     -o-transition:all .3s ease-in-out;
    }
  }
}
.discord {
  span {
    color: #7489da;
  }
}

@media (max-width: 1000px) {
  .publi {
    p {
      font-size: .9em!important;
    }
    &__banner {
      padding: 2rem ;
      width: 90%;
      height: auto;
      &__right {
        width: 30%;
      }
    }
  }
  .discordTitle {
    width: 80%!important;
    margin: auto;
  }
}

@media (max-width: 1450px) {
  .publi {
    &__banner {
      height: 210px;
    }
  }
}

@media (max-width: 700px) {
  .publi {
    p {
      font-size: .8em;
    }
    &__banner {
      padding: 1rem ;
      width: 90%;
      margin: 2rem auto;
    }
  }
}

@media (max-width: 420px) {
  .publi {
    margin: 0;
    p {
      font-size: .6em!important;
    }
    &__banner {
      padding: .5rem ;
      width: 99%;
      height: 130px;
      &__left {
        width: 70%;
      }
      &__right {
        margin: .5rem 1rem .5rem .5rem;
      }
    }
  }
}
