.roleChampion {
  color: white;
  text-align: center;
  padding: 0 10rem 4rem 10rem;

  .icon {
    color: yellowgreen;
    padding-right: .5rem;
    &__phoenix {
      font-size: .8em;
      padding: 0 .5rem 0 .5rem;
    }
    &__temple {
      font-size: .9em;
      padding: 0 .8rem 0 .8rem;
    }
  }
  .space {
    margin-bottom: 4rem;
  }
  h2 {
    font-family: 'Squada One', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5em;
    margin: 2rem 0 5rem 0;
    text-shadow: 2px 2px  30px black;
  }

  ul {
    border-bottom: yellowgreen 0.5px solid;
    margin-bottom: 8rem;
  }
  li {
    line-height: 1.2em;
    font-size: 2em;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: left;
    color: #ffaa55;
  }
  &__lists {
    margin: 2rem;
    padding: 7rem 0 2rem 0;
    font-size: 2.3rem !important;
    border-bottom: yellowgreen 1px solid;
    color: yellowgreen;
  }
  &__betweenYoutube {
    margin: 5rem 0 1rem 0;
    padding-top: 2rem;
    border-top: solid 1px red;
  }
  &__introYoutube {
    padding: 4rem 0 1rem 0;
  }
  &__afterYoutube {
    margin-top: 4rem;
    
  }
  &__intro {
    &__heart {
      width: 20%;
    }
    &__pictures {
      display: flex;
      justify-content: space-evenly;
      margin: 3rem;
      &__picture {
        width: 20%;
        border-radius: 35%;
        filter: drop-shadow(0 0 0.75rem crimson);
      }
    }
  }

  &__role {
    &__title {
      color: #00cefe;
    }
    &__picture {
      width: 35%;
      border-radius: 15px;
      margin: 4rem;
      filter: drop-shadow(0 0 0.75rem #00cefe);
    }
    &__list {
      text-align: left;
      padding-left: 2rem;
    }
  }
  &__champion {
    background-color: rgba(28,36,45,0.8);
    // margin: 0 10rem 4rem 10rem;
    padding: 3rem 3rem;
    border-radius: 10px;
    margin: 3rem;
    &__title {
      color: red;
    }
    &__picture {
      border-radius: 15px;
      filter: drop-shadow(0 0 0.75rem red);
      margin: 3rem;
      &__notEasy {
        width: 35%;
      }
      &__yasuo {
        margin: 3rem;
      }
      &__troll {
        width: 30%;
        margin: 2rem;
      }
    }
  }
}
