.modal-background {
  position: fixed;
  z-index: 90;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  width: 800px;
  position: fixed;
  left: calc(50% - 400px);
  top: 100px;
  z-index: 99;
  background-color: #000d15;
  // background: 
  // radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  // radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  color: #2d3f57;
  padding: 1rem;
  border-radius: 1rem;

  &__close {
    padding: .55rem .8rem;
    position: absolute;
    z-index: 10;
    right: 1rem;
    top: 1rem;
    border-radius: 50%;
    i {
      font-size: 1.5rem;
    }
  }

  h1 {
    font-size: 3em;
    color: #ffaa55;
    margin-bottom: 2rem;
    text-shadow: none;
  }
}

.global-button {
  color: #fff;
  background-color: #2d3f57;
  border: none;

  font-size: 1em;
  &--light {
    color: #2d3f57;
    background-color: #E3E5EC;
  }
  &:hover {
    background-color:  #ffaa55;
    color: #fff;
  }
}

@media (max-width: 900px) {
  .modal {
    width: 95%;
    left: 1rem;
    // overflow-x: auto;
  }
}

@media (max-width: 600px) {
  .modal {
    padding: 1rem;
    height: 80%;
    // overflow-x: auto;
  }
}
