.presentation {
  font-size: 1.1em;
  h1 {
    padding: 5rem 0 3rem 0;
  }
  h2 {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1rem;
  }
  &__background {
    margin: 5rem 20rem 10rem 20rem;
    background-color: rgba(35, 22, 4, 0.7);
    padding: 1rem 5rem;
    border-radius: 20px;
  }
  &__coaching {
    display: block;
    width: 50%;
    margin: 3rem auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgba(35, 22, 4, 1);
  }
  &__but {
    line-height: 3.5em;
  }
  &__content__refuseResist {
    position: relative;
  }
  &__image {
    &__refuseResist {
      width: 8%;
      margin: .5rem;
      position: absolute;
      bottom: -45px;
    }
    &__utip {
      width: 5%;
      position: absolute;
    }
  }
  &__discord {
    color: #7289da;
  }
  &__ligue {
    color: #52a4f3;
  }
  color: white;
  line-height: 2em;
  p {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

@media (max-width: 1505px) {
  .presentation__background {
    margin: 5rem ;
    padding: 1rem 4rem;
  }

}

@media (max-width: 1050px) {
  .presentation__background {
    margin: 0rem 5rem 3rem 5rem;
    padding: 1rem 4rem;
    p {
      font-size: 1.3em;
    }
    h2 {
      font-size: 1.5em;
    }
    &__image {
      &__refuseResist {
        bottom: -32px;
      }
    }
  }
}

@media (max-width: 900px) {
  .presentation__background {
    margin: 3rem 1rem 3rem 1rem;
    padding: 1rem 3rem;
    p {
      font-size: 1.3em;
    }
    &__image {
      &__refuseResist {
        bottom: -32px;
      }
    }
  }
}

@media (max-width: 700px) {
  .presentation__background {
    margin: 3rem .5rem 3rem .5rem;
    padding: 1rem 1rem;

    &__image {
      &__refuseResist {
        bottom: -22px;
      }
    }
  }
}

@media (max-width: 400px) {
  .presentation {
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 1.5em;
    }
    &__background {
      margin: 0 .5rem 3rem .5rem;
    }
    &__coaching {
      width: 75%;
    }
    &__image {
      &__refuseResist {
        bottom: -11px;
        width: 12%;
      }
    }
  }
}
