.trollpicks {
  color: white;
  h3 {
    font-family: 'Squada One', cursive;
    text-transform: uppercase;
    color: #ffaa55;
    font-size: 2em;
    flex-grow: 1;
  }
  p {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  h4 {
    text-align: center;
    font-size: 2.7em;
    // padding: 3rem;
    color: white;
    margin-bottom: 3rem;
  }
  &__intro {
    margin: 0 7rem 0 7rem;
    &__warning {
      font-size: 2.1em;
    }
  }
  .icons {
    &__exclamation {
      margin: 0 1rem 0 1rem;
    }
  }
  &__cards {
    text-align: center;
    margin: 4rem auto;
    &__line {
      margin: 1rem;
      display: inline-block;
    }
    &__card {
      width: 800px;
      margin: 1rem;
      color: white;
      display: flex;
      justify-content: space-between;
      background-color: rgba(28,36,45,0.8);
      border-radius: 20px;

      &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2.2em;
        margin: 1rem 0rem;
        text-align: center;
   
      }
      img {
        width: 45%;
        border-radius: 0 20px 20px 0;
      }
    }
    &__cardActif {
      border: 2px solid transparent;
      transition:all .2s ease-in-out;
      -webkit-box-shadow: 0 28px 16px -26px black;
      -moz-box-shadow: 0 28px 16px -26px black;
      box-shadow: 0 28px 16px -26px black;
      transition:all .6s ease-in-out;
      -webkit-transition:all .6s ease-in-out;
      -moz-transition:all .6s ease-in-out;
      -ms-transition:all .6s ease-in-out;
      -o-transition:all .6s ease-in-out;
      &:hover {
        transform:scale(1.03);
        transition: .1s;
       -webkit-transform:scale(1.03);
       -moz-transform:scale(1.03);
       -ms-transform:scale(1.03);
       -o-transform:scale(1.03);
       -webkit-box-shadow: 0 58px 40px -56px black;
       -moz-box-shadow: 0 58px 36px -56px black;
       box-shadow: 0 58px 36px -56px black;
       -webkit-transition: .3s ease-in-out;
       -moz-transition: .3s ease-in-out;
       -ms-transition: .3s ease-in-out;
       -o-transition: .3s ease-in-out;
       border-color: #ffaa55;
     }
    }
    &__cardSoon {
      position: relative;
      z-index: 1;
        &__content {
          position: absolute;
          width: 800px;
          font-size: 2.5em;
          color: #ffaa55!important;
          background-color: rgba(28,36,45,0.8);
          padding: 5rem 2.5rem;
          border-radius: 15px;
          opacity: 0;
          &:hover {
            opacity: 1;
            z-index: 1;
            transition:all .1s;
            -webkit-transition: .3s ease-in-out;
            -moz-transition: .3s ease-in-out;
            -ms-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
          }
        }
      &:hover {
        opacity: 0.6;
        transition:all .1s;
        z-index: 0;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;

       border-color: #ffaa55;
     }
      &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2.2em;
        margin: 1rem 0rem;
        text-align: center;
      }
      img {
        width: 45%;
        border-radius: 0 20px 20px 0;
      }
    }
  }
}

@media (max-width: 1000px) {
  .trollpicks {
    .backgroundParagraphe {
      margin: 0 2rem;
    }
    p {
      font-size: 1.5em;
    }
    h4 {
      font-size: 2em;
    }
    &__cards {
      &__card {
        margin: 2rem auto;
      }
      &__cardSoon {
        &__content {
          width: 790px;
          height: 170px;
          font-size: 2em!important;
          // padding: 2.5rem 4.5rem;
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 852px) {
  .trollpicks {
    .backgroundParagraphe {
      margin: 0 1rem;
      padding: 3rem 2rem;
    }
    p {
      font-size: 1.4em;
    }
    h3 {
      font-size: 1.8em;
    }
    h4 {
      font-size: 1.8em;
    }
    &__cards {
      &__card {
        width: 650px;
      }
      &__cardSoon {
        &__content {
          width: 630px;
          height: 140px;
          font-size: 2em!important;
          margin: 0;
          padding: 3.5rem ;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .trollpicks {
    .backgroundParagraphe {
      margin: 0 .5rem;
      padding: 2rem 1rem;
    }
    p {
      font-size: 1.3em;
    }
    h3 {
      font-size: 1.7em;
    }

    &__cards {
      &__card {
        width: 550px;
        margin: 1rem;
      }
      &__cardSoon {
        &__content {
          width: 540px;
          height: 115px;
          padding: 2.5rem ;
        }
      }
    }
  }
}

@media (max-width: 583px) {
  .trollpicks {
    p {
      font-size: 1.3em;
    }
    h3 {
      font-size: 1.36em;
    }
    &__cards {
      &__card {
        width: 440px;
      }
      &__cardSoon__content {
        width: 430px;
        height: 90px;
        padding: 2.5rem ;
      }
    }
  }
}

@media (max-width: 463px) {
  .trollpicks {
    .backgroundParagraphe {
      margin: 0 .3rem;
      padding: 1rem .3rem;
    }
    p {
      font-size: 1.1em;
    }
    h2 {
      font-size: 3em;
    }
    h3 {
      font-size: 1.2em;
    }
    h4 {
      font-size: 1.6em;
    }
    &__cards {
      &__card {
        width: 370px;
        margin: .5rem auto;
        border-radius: 5px;
      }
      &__cardSoon__content {
        width: 370px;
        height: 90px;
        padding: 2rem ;
        font-size: 1.7em;
      }
    }
  }
}

@media (max-width: 401px) {
  .trollpicks {
    img {
      border-radius: 5px;
    }
    p {
      font-size: 1.1em;
    }
    h2 {
      font-size: 2.8em;
      margin: 2rem 0 3rem 0;
    }
    h4 {
      font-size: 1.5em;
    }
    &__cards {
      &__card {
        width: 350px;
      }
      &__cardSoon__content {
        width: 350px;
        height: 90px;
        padding: 2rem ;
        font-size: 1.4em;
        margin-bottom: 0;
      }
    }
  }
}
