.threshFlak {
  text-align: center;
  padding: 0 10rem 4rem 10rem;
  color: white;
  h2 {
    color: #ffaa55;
  }
  .icons {
    &__rune, &__gameplay, &__crossbones {
      margin: 0 1rem;
      font-size: 0.8em;
    }
  }
  .definition {
    text-decoration: underline;
  }
  &__pictures {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    &__capture {
      margin: 2rem 0 3rem 0;
      border-radius: 10px;
      width: 40%;
      filter: drop-shadow(0 0 0.75rem #40fbae);
    }
    &__runes {
      width: 80%;
    }
    &__picture {
      width: 25%;
      border-radius: 35%;
      filter: drop-shadow(0 0 0.75rem #40fbae);
    }
    &__thresh {
      width: 25%;
      border-radius: 50%;
      margin: 2rem 0 3rem 0;
      filter: drop-shadow(0 0 0.75rem #40fbae);
    }
    &__troll {
      width: 40%;
      border-radius: 15px;
      margin: 2rem 0 3rem 0;
      filter: drop-shadow(0 0 0.75rem #40fbae);
    }
  }
}

@media (max-width: 1458px) {
  .threshFlak {
    .paragraph {
      font-size: 1.4em;
    }
    padding: 0 5rem 4rem 5rem;
    ul {
      margin: 2rem 0;
      padding: 2rem;
    }
  }
}

@media (max-width: 1000px) {
  .threshFlak {
    padding: 0 0 1rem 0;
    h1 {
      padding-top: 3rem!important;
    }
    h2 {
      padding-top: 3rem!important;
    }
    .backgroundParagraphe {
      margin: 3rem 1rem;
    }
    .paragraph {
      font-size: 1.3em;
    }
  }
}

@media (max-width: 852px) {
  .threshFlak {
    h2 {
      font-size: 3em;
      margin: 0 0 3rem 0;
      padding-top: 0!important;
    }
    .paragraph {
      font-size: 1.3em;
    }
    .backgroundParagraphe {
      padding: 3rem .5rem;
    }
  }
}

@media (max-width: 650px) {
  .threshFlak {
    h2 {
      font-size: 2.5em;

      
    }
    .paragraph {
      font-size: 1.2em;
    }
    .backgroundParagraphe {
      padding: 3rem .5rem;
      margin: 2rem .5rem;
    }
    &__gameplay__content {
      padding: .5rem;
    }
  }
}

@media (max-width: 400px) {
  .threshFlak {
    h2 {
      font-size: 2.3em;
    }
  }
}
