.guide {
  text-align: center;
  padding: 0 10rem 4rem 10rem;
  color: white;
  ul {
    border: 2px solid #ffaa55;
    border-radius: 10px;
    margin: 2rem;
    padding: 2rem 0 1rem 0;
    li {
      line-height: 1.2em;
      font-size: 2em;
      margin: 1rem 3rem;
    }
  }
  .icons {
    &__brain, &__raised {
      margin: 0 2rem 0 2rem;
      font-size: 0.8em;
    }
  }
  .positif {
    color: yellowgreen;
    padding-right: .5rem;
  }
  .twitch {
    color: rgb(130, 50, 205);
  }
  .logo {
    width: 40%;
    margin: auto;
    text-align: center;
    display: block;
  }
  &__youtube {
    border-radius: 50px;
    margin: auto;

  }
  &__mental {
    &__cerveau {
      border-radius: 50%;
      margin: 2rem auto;
      width: 35%;
      filter: drop-shadow(0 0 0.75rem #00cefe);
    }
    &__picture {
      width: 35%;
      border-radius: 25px;
      margin: 1rem;
      filter: drop-shadow(0 0 0.75rem crimson);
    }
  }
  &__rage {
    &__content {
      &__rage {
        border-radius: 50%;
        width: 32%;
        filter: drop-shadow(0 0 0.75rem crimson);
        margin: 1rem;
      }
      &__textRage {
        width: 33%;
        border-radius: 15px;
        filter: drop-shadow(0 0 0.75rem #232122);
        margin: 2rem 0 4rem 0;
      }
      &__troll {
        width: 30%;
        border-radius: 50px;
        filter: drop-shadow(0 0 0.50rem rgb(220, 207, 20));
        margin: 2rem;
      }
    }
  }
}

@media (max-width: 1000px)  {
  .guide {
    padding: 0 .5rem 2rem .5rem;
    h1 {
      padding-top: 3rem!important;
    }
    h2 {
      font-size: 3rem;
    }
    li {
      font-size: 1.7em;
    }
    ul {
      margin: 2rem;
    }
    .paragraph {
      font-size: 1.5em;
    }
    .backgroundParagraphe {
      margin: 1rem;
    }
  }
}

@media (max-width: 840px) {
  .guide {
    h1 {
      font-size: 3em;
    }
    &__champion, &__end, &__intro, &__role  {
      margin: .5rem;
    }
    &__intro__pictures {
      margin: 1rem;
      &__picture {
      width: 25%;
      margin: .5rem;
      }
    }
    h2 {
      font-size: 3em;
    }
    iframe {
      width: 550px;
      border-radius: 10px;
    }
  }
}

@media (max-width: 676px) {
  .guide {
    h1 {
      font-size: 2.5rem;
    }
    .intro {
      font-size: 1.8em;
    }
    li {
      font-size: 1.5em!important;
      margin: 1rem!important;
    }
    ul {
      margin-bottom: 4rem;
    }
    .paragraph {
      font-size: 1.4em;
    }
    .backgroundParagraphe {
      padding: 2rem .5rem;
      margin: .5rem;
    }
    &__role {
      &__picture {
        width: 55%;
        margin: 3rem;
        &__notEasy {
          width: 50%;
        }
      }
    }
    &__champion__picture {
      &__notEasy {
        width: 50%;
      }
    }
    iframe {
      width: 530px;
      height: 300px;
      border-radius: 10px;
    }
  }
}

@media (max-width: 598px) {
  .guide {
    h2 {
      font-size: 2.5em;
    }
    iframe {
      width: 450px;
    }
  }
}

@media (max-width: 522px) {
  .guide {
    iframe {
      width: 400px;
    }
    a {
      font-size: 1.1em;
    }
  }
}

@media (max-width: 460px) {
  .guide {
    iframe {
      width: 350px;
    }
  }
}

@media (max-width: 419px) {
  .guide {
    .backgroundParagraphe {
      margin: .5rem 0.2rem;
    }
    h1 {
      font-size: 2.15em;
    }
    &__intro__pictures {
      margin: 1rem;
      &__picture {
      width: 28%;
      margin: 0;
      }
    }
    &__lists {
      padding: 3rem 0 2rem 0;
      font-size: 1.3em!important;
    }
    li {
      font-size: 1.3rem;
    }
    ul {
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.2em!important;
    }
    h2 {
      font-size: 1.9em;
      margin: 1rem 0;
    }
    iframe {
      width: 300px;
    }
    &__champion__picture {
      margin: 3rem 0;
      width: 80%;
    }
  }
}

@media (max-width: 350px) {
  .guide {
    iframe {
      width: 260px;
    }
  }
}
