@media (max-width: 840px) {
  iframe {
    width: 550px;
    border-radius: 10px;
  }
}

@media (max-width: 676px) {
  iframe {
    width: 530px;
    height: 300px;
    border-radius: 10px;
  }
}

@media (max-width: 598px) {
  iframe {
    width: 450px;
  }
}

@media (max-width: 522px) {
  iframe {
    width: 400px;
  }
}

@media (max-width: 460px) {
  iframe {
    width: 350px;
  }
}

@media (max-width: 419px) {
  iframe {
    width: 300px;
  }
}

@media (max-width: 350px) {
  iframe {
    width: 260px;
  }

}
