.contact {
  color: white;
  .icons {
    &__exclamation {
      margin:0 .7rem 0 .7rem;
      font-size: .9em;
    }
  }
  &__background {
    margin: 2rem 20rem 5rem 20rem;
    background-color:rgba(0, 0, 0, 0.7);
    padding: 3rem 5rem;
    border-radius: 20px;
  }
  &__content {
    font-size: 1.5em;
    line-height: 1.4em;
    &__title {
      font-size: 1.3em;
      padding-bottom: 1rem;
    }
    &__link {
      background-color: #ffaa55;
      margin: 1rem;
      padding: .3rem;
      font-size: .9em;
      border-radius: 5px;
      color: black;
      &:hover {
        border: #ffaa55 solid 1px;
        background-color: black;
        color: #ffaa55;
      }
    }
    &__refuseResist {
      position: relative;
      img {
        width: 6%;
        width: 8%;
        margin: .5rem;
        position: absolute;
        bottom: 50px;
      }
    }
    h4 {
      margin: 2rem auto 0rem;
      font-size: 1.5em;
      text-align: center;
      padding: 2rem;
    }
  }
}

@media (max-width: 1750px) {
  .contact {
    &__content__refuseResist  {
      position: relative;
      img {
        width: 5.5%;
        margin: .5rem;
        position: absolute;
        bottom: 80px;
      }
    }
  }
}


@media (max-width: 1590px) {
  .contact {
    &__background {
      margin: 2rem 10rem 5rem 10rem;
    }
    &__content__refuseResist  {
      img {
        bottom: 80px;
        width: 4.5%;
      }
    }
  }
}

@media (max-width: 1195px) {
  .contact {
    &__background {
      margin: 2rem 5rem 5rem 5rem;
      padding: 3rem 2rem;
    }
    p {
      font-size: .9em;
    }
    &__content__refuseResist  {
      img {
        bottom: 80px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .contact.contact__content__refuseResist  {
    img {
      bottom: 90px;
    }
  }
}

@media (max-width: 834px) {
  .contact {
    &__background {
      margin: 1rem .5rem;
      padding-bottom: 1.5rem;
    }
  }
}

@media (max-width: 680px) {
  .contact__content__refuseResist  {
    img {
      bottom: 125px;
    }
  }
}

@media (max-width: 555px) {
  .contact {
    h1 {
      font-size: 3em;
    }
    h4 {
      font-size: 1em;
      padding: 2rem 0;
    }
    p {
      font-size: 0.8em;
    }
    &__content__refuseResist {
      img {
        width: 8%;
        bottom: 150px;
      }
    }
  }
}

@media (max-width: 456px) {
  .contact__content__refuseResist  {
    img {
      bottom: 190px;
      width: 9%;
    }
  }
}

@media (max-width: 375px) {
  .contact__content__refuseResist {
    img {
      bottom: 225px;
      width: 10%;
    }
  }
}

@media (max-width: 330px) {
  .contact__content__refuseResist  {
    img {
      bottom: 255px;
      width: 12%;
    }
  }
}

