.contact {
  margin: 5rem 20rem 5rem 20rem;
  background-color:rgba(0, 0, 0, 0.7);
  padding: 1rem 5rem;
  border-radius: 20px;
  color: white;
  .icons {
    &__exclamation {
      margin:0 .7rem 0 .7rem;
      font-size: .9em;
    }
  }
  &__content {
    font-size: 1.5em;
    line-height: 1.4em;
    &__title {
      font-size: 1.3em;
      padding-bottom: 1rem;
    }
    &__link {
      background-color: #ffaa55;
      margin: 1rem;
      padding: .3rem;
      font-size: .9em;
      border-radius: 5px;
      color: black;
      &:hover {
        border: #ffaa55 solid 1px;
        background-color: black;
        color: #ffaa55;
      }
    }
    &__refuseResist {
      position: relative;
      img {
        width: 6%;
        width: 8%;
        margin: .5rem;
        position: absolute;
        bottom: 50px;
      }
    }
    h4 {
      margin: 2rem auto 0rem;
      font-size: 1.5em;
      text-align: center;
      padding: 2rem;
    }

  }
}
